    body {
        font-family: Arial, sans-serif;
        background-image: url('pizza\ oline.jpg');
    }
    
    h1 {
        text-align: center;
    }
    
    #orderForm {
        background-color: #aaaa;
        border: 4px solid lightpink;
        border-radius: 4px;
        padding: 8px;
        margin: 8px;
        box-shadow: 10px 10px 5px #9999;
    }
    
    body {
        Color: white;
    }